.title-text {
	font-family: 'Pacifico';
}

.title-row {
	display: flex;
	font-size: 8vh;
}

.title-column {
	flex-direction: column;
	justify-content: center;
}

.title-logo {
	background: no-repeat center;
	background-image: url("/img/arrow.svg");
	background-size: contain;
	width: 18vw;
	height: 18vh;
}
